@import url(https://fonts.googleapis.com/css?family=Poiret+One|Cabin|Dosis|Lobster|Nunito|Maven+Pro|Shadows+Into+Light|Orbitron|Open+Sans+Condensed:300|Ubuntu+Condensed|Coming+Soon);
@import "bootstrap-sprockets";
@import "bootstrap";

/** body **/
body{
  background-color: #FF5050;
}

#comments {
	padding: 0px 5px 5px 15px; 
}

h1{
	font-size: 32px;
	padding-left: 10px;
	font-family: "Calibri";
}

table{
	padding-left: 30px;
}

h2 {
	padding: 5px 5px 5px 15px; 
}

header{
	text-align: center;
}

#ftr{
	text-align: center;
	font-size: 14px;
	font-family: "AR BLANCA"
}