<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'default', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <header>
    <h1>ECE595</h1>
    <h4>This is a small blog</h3>
  </header>
</head>
<body>

<%= yield %>

</body>
<footer>
	<p id="ftr">Santhosh</p>
</footer>
</html>
